RewriteEngine On
RewriteRule ^login/?$ login.php [L]
RewriteRule ^register/?$ register.php [L]
RewriteRule ^users/?$ users.php [L]
RewriteRule ^users/([0-9]+)/?$ users.php?number=$1 [L]
RewriteRule ^topup/?$ topup.php [L]
RewriteRule ^transfer/?$ transfer.php [L]
RewriteRule ^history/?$ history.php [L]
RewriteRule ^history/([0-9]+)/?$ history.php?number=$1 [L]
RewriteRule ^gallecoins/?$ gallecoins.php [L]
RewriteRule ^cuanind/?$ cuanind.php [L]
RewriteRule ^moneyz/?$ moneyz.php [L]
RewriteRule ^buskidicoin/?$ buskidicoin.php [L]
RewriteRule ^kcnpay/?$ kcnpay.php [L]
RewriteRule ^payfresh/?$ payfresh.php [L]
RewriteRule ^padpay/?$ padpay.php [L]
RewriteRule ^ecoin/?$ ecoin.php [L]
RewriteRule ^talangin/?$ talangin.php [L]
RewriteRule ^payphone/?$ payphone.php [L]